html {font-size: 16px; border-sizing: border-box;}

body {
  background-color: white;
  font-family: 'Lato', sanserif;
  font-weight: 400;
  line-height: 1.45;
  color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 0.5em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: 'Space Mono', monospace;
  margin-top: 0;
  font-size: 6.854rem;
  color: black;
  text-align: center;
}

h2 {
  font-family: 'Space Mono', monospace;
  font-size: 4.236rem; 
  text-align: center; 
  margin: 0;
}

h3 {
font-family: 'Space Mono', monospace;
  font-size: 2.618rem;
}

h4 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.618rem;
  text-align: left;
  color: #9C27B0;
}
h5 {
  font-family: 'Lato', sanserif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 1rem;
  text-align: center;
  margin: 10px 0;
}
h6 {
  font-family: 'Lato', sanserif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: .618rem;
  text-align: left;
  margin: 10px 0;
}
small, .font_small {font-size: 0.618em;}

a {color: inherit; text-decoration: none; color: #9C27B0}
a:hover {text-decoration: none;}

#main-nav h5 a {
  border-bottom: 2px solid rgba(0,0,0,0);
}
#main-nav h5 a:hover {
  border-bottom: 2px solid #9C27B0;
}
#container {
  width: 100vw;
  margin: 0 auto;
}
#class-name {
  margin: 0 0 0 25px;
}
#main-nav {
  width: 190px;
  margin: 10vh auto 0;
}
#menu-open {
  position: fixed;
  top: 0;
  right: 25px;
}
#modal-menu {
    z-index: 99;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#menu-close {
    cursor: pointer;
    color: #9C27B0;
    text-align: right;
    margin: 20px 0;
}
#main-content {
  margin: 0 0 0 0;
  height: 100vh;
  overflow: hidden;
}
.single-col {
  width: 60vw;
  margin: 75px auto 0;
}
#bottomline {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  text-align: center;
  font-size: .618rem;
  color: #9C27B0;
}
.hide {
  display: block !important;
}
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.float {
  float: left;
}
.center {
  text-align: center;
}
.cropped {
  font-size: 250vh;
  line-height: .25;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.sans {
  font-family: sans-serif;
}
.serif {
  font-family: serif;
}
.white {
  background-color: white;
}
.two-col {
  ng
}
header, footer {
  width: 100vw;
}
header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}
ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 3px 0;
}
.italic {
  font-style: italic;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.bg-purple {background-color: #9C27B0}
.purple {color: #9C27B0}
.bg-white {background-color: #ffffff}
.white {color: #ffffff}
.bg-black {background-color: #000000}
.black {color: #000000}
.bg-darkGrey {background-color: #212121}
.darkGrey {color: #212121}
.bg-grey {background-color: #303030}
.grey {color: #303030}
.bg-lightGrey {background-color: #424242}
.lightGrey {color: #424242}

@media only screen and (max-width: 800px) {
  .single-col {
  width: 80vw;
  margin: 75px auto 0;
}
}

